//COLORS
$primary-color: #637d88;
$secondary-color: #405559;
$color-black: #0b0d0d98;
$color-dark: #042918;
$color-light: #94b6c0;
$color-white:#fffbfbd1;
$color-light-trans: #94b6c060;
$shadow-dark:rgba(0, 0, 0, 0.3);
$shadow-light:rgba(133, 131, 131, 0.209);

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

//FONT VARIABLE
$primary-font: "Hind Guntur", sans-serif;
$secondary-font: "Cinzel Decorative", serif;
